@tailwind base;
@tailwind components;
@tailwind utilities;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navBar h1 {
    font-size: 32px;
}

.navBar ul {
    display: flex;
    list-style: none;
}

.navBar ul li {
    margin-right: 10px;
}

.navBar a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .mobileNavBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileNavBar ul {
        flex-direction: column;
    }

    .mobileNavBar ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    color: #80868A;
    font-size: 12px;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(226, 226, 226, 0.75);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.active {
    color: #42afd2;
}

.sectionHeader {
    font-size: 20px;
}

.sectionText {
    font-size: 12px;
}

.quickContact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #D6EFF7;
}

.quickContact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #D6EFF7;
}

.resourceSection {
    padding: 20px;
}

.resourceContainer {
    margin-top: 20px;
}

.resourceLink {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.resourceImg {
    width: 104px;
    min-width: 104px;
    height: 78px;
    display: inline-block;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.resourceDescription {
    flex-grow: 1;
    text-wrap: wrap;
    font-size: 14px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #D9D9D9;
}